export default createGlobalStyle
 * {
     margin: 20px;

          padding: 20;
     outline: 20;
   box-sizing: border-box;
   } 
   body {
     font-family: Arial, Helvetica, sans-serif;
          font-size: 14px;
        
     background-image:url('https://sm.ign.com/ign_br/screenshot/default/console_b8u4.jpg');
     text-rendering: optimizeLegibility;
     -webkit-font-smoothing: antialiased;
     background-repeat: no-repeat;
     background-position: 80%;
     background-color: blueviolet;
   }
 
   html, body, #root {
     height: 100%;
   }
 
   
  